﻿@{
    ViewData["Title"] = "Add New User Profile";
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
}

@{
    void DisplayStatus()
    {
        if (ViewData["Success"] != null)
        {
            if ((bool)ViewData["Success"] == false)
            {
                <div class="message">
                    Failed to add new user profile. @ViewData["ErrorMessage"]
                </div>
            }
            else if ((bool)ViewData["Success"] == true)
            {
                <div class="message">User profile successfully added!</div>
            }

        }
    }
}

<h1 id="title">Add a user profile</h1>
<form id="AddUserProfileForm" action="~/AddNewProfile" method="post" onsubmit="return submitForm()">
    @Html.AntiForgeryToken()
    <label for="Profile">Enter new user profile: </label>
    <input id="Profile" name="userProfile" type="text" />
    <br /><br />
    <button type="submit">Submit</button>
</form>

@{DisplayStatus();}

@section Scripts
{
    <script>
        function submitForm() {
            var txtUserProfile = document.getElementById("Profile");
            txtUserProfile.value = txtUserProfile.value.trim();
            if (txtUserProfile.value == "") {
                var errorMsg = document.createElement("div");
                errorMsg.innerHTML = "This field is required.";
                txtUserProfile.after(errorMsg);

                txtUserProfile.focus();
                return false;
            }
            return true;
        }
    </script>
}
