﻿@using AimingForHD.Entities;
@{
    ViewData["Title"] = "Add New User";
    Layout = "~/Boundaries/Shared/_Layout.cshtml";

    User user = ViewData["User"] != null ? (User)ViewData["User"] : new User();

    void DisplayForm()
    {
        <h1 id="title">Add a user</h1>
        <form action="/AddNewUser" method="post">
            @Html.AntiForgeryToken()
            <span>Username:</span> <input type="text" name="username" value="@user.Username" />
            <br /><br />
            <span>Password:</span> <input name="password" type="password" value="@user.Password" />
            <br /><br />
            <span style="margin-left:25px">Email:</span> <input type="text" name="email" value="@user.Email" />
            <br /><br />
            <span style="margin-left:21px">Profile:</span> <input type="text" name="profile" value="@user.Profile.Profile" />
            <br /><br />
            <button type="submit">Submit</button>
        </form>
    }

    void DisplayStatus()
    {
        if (ViewData["Success"] != null)
        {
            if ((bool)ViewData["Success"] == false)
            {
                <div class="message">
                    <div>An error occurred. Failed to add user.</div>
                    <div>@ViewData["UsernameError"]</div>
                    <div>@ViewData["PasswordError"]</div>
                    <div>@ViewData["EmailError"]</div>
                    <div>@ViewData["ErrorMessage"]</div>
                </div>
            }
            else if ((bool)ViewData["Success"] == true)
            {
                <div class="message">Success</div>
            }
        }
    }
}

@{DisplayForm();}

@{DisplayStatus();}

