﻿@using AimingForHD.Entities;
@{
    ViewData["Title"] = "Search Profiles";
    Layout = "~/Boundaries/Shared/_Layout.cshtml";

    List<UserProfile> profileList = (ViewData["ProfileList"] != null) ?
        (List<UserProfile>)ViewData["ProfileList"] : new List<UserProfile>();

    void DisplayResults()
    {
        if (ViewData["Keyword"] != null && profileList.Count == 0)
        {
            <div>
                No user profile matching the keyword found.
            </div>
        }
        else if(profileList.Count > 0)
        {
            <table>
                <tr>
                    <th>Profile</th>
                    <th></th>
                </tr>

            @foreach (UserProfile profile in profileList)
            {
                <tr>
                    <td>@profile.Profile</td>
                    <td>
                        <form action="/UpdateProfile" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="profileOld" value="@profile.Profile" />
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
            }
            </table>
        }
    }
}

<div>
    <h1 id="title">Search user profiles</h1>

    <div>
        <form id="SearchUserProfileForm" action="/SearchUserProfiles" method="get">
            <input type="text" name="keyword" value="@ViewData["Keyword"]" />
            <button type="submit">Search</button>
        </form>
    </div>

    <br />

    @{ DisplayResults(); }
</div>
