﻿@using AimingForHD.Entities;
@{
    ViewData["Title"] = "Search Users";
    Layout = "~/Boundaries/Shared/_Layout.cshtml";

    List<User> userList = (ViewData["UserList"] != null) ? (List<User>)ViewData["UserList"] : new List<User>();

    void DisplayUsers()
    {
        if (userList.Count > 0)
        {
            <table id="headers">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Profile</th>
                    <th></th>
                </tr>

                @foreach (User user in userList)
                {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email </td>
                    <td>@user.Profile.Profile</td>
                    <td>
                        <form action="/UpdateUser" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" value="@user.Username" />
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
                }
            </table>
        }

    }

    void DisplayErrorNotFound()
    {
        <span>No user matching the keyword found.</span>
    }
}

<div>
    <h1 id="title">Search users</h1>

    <div>
        <form id="SearchUserForm" action="/SearchUsers" method="get">
            <input type="text" name="keyword" value="@ViewData["Keyword"]" />
            <button type="submit">Search</button>
        </form>
    </div>

    <br />

    @{ DisplayUsers(); }
    @if (ViewData["Keyword"] != null && userList.Count == 0)
    {
        DisplayErrorNotFound();
    }
</div>
