﻿@using AimingForHD.Entities;
@{
    ViewData["Title"] = "Update User";
    Layout = "~/Boundaries/Shared/_Layout.cshtml";

    void DisplayUserInfo()
    {
        User user = ViewData["User"] != null ? (User)ViewData["User"] : new User();

        <h1 id="title">Update user</h1>
        <form action="/UpdateUser/UpdateUserInfo" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="uNameOld" value="@user.Username" />
            <br /><br />
            <span>Username: </span><input type="text" name="uNameNew" value="@user.Username" />
            <br /><br />
            <div class="form-check form-switch form-check-inline">
                <input type="checkbox" id="passCheckbox" name="changePW" value="true" onclick="togglePassword()" class="form-check-input" />
                <label>Change password?</label>
            </div>
            <br />
            <span>Password: </span><input id="Password" name="pw" type="password" disabled />
            <br /><br />
            <span style="margin-left:25px">Email: </span><input type="text" name="email" value="@user.Email" />
            <br /><br />
            <span style="margin-left:21px">Profile: </span> <input type="text" name="profile" value="@user.Profile.Profile" />
            <br /><br />
            <button type="submit">Submit</button>
        </form>

        @if (ViewData["Message"] != null)
        {
            <div class="message">
                <div>@ViewData["Message"]</div>
            </div>

        }
    }
}
@{DisplayUserInfo();}


@section Scripts {

    <script>
        function togglePassword() {
            var checkBox = document.getElementById("passCheckbox");

            if (checkBox.checked == true) {
                document.getElementById('Password').disabled = false;
            } else {
                document.getElementById('Password').disabled = true;
            }
        }
    </script>
}