﻿@{
    ViewData["Title"] = "Update User Profile";
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
}

@{
    void DisplayStatus()
    {
        if (ViewData["Success"] != null)
        {
            if ((bool)ViewData["Success"] == false)
            {
                <div class="message">
                    Failed to update user profile. @ViewData["ErrorMessage"]
                </div>
            }
            else if ((bool)ViewData["Success"] == true)
            {
                <div class="message">User profile successfully updated!</div>
            }

        }
    }
}

<h1 id="title">Update user profile: @ViewData["UserProfile"]</h1>
<form id="UpdateUserProfileForm" action="/UpdateProfile" method="post" onsubmit="return submitForm()">
    @Html.AntiForgeryToken()
    <input type="hidden" name="profileOld" value="@ViewData["UserProfile"]" />
    <label for="Profile">Enter new user profile</label>
    <input id="Profile" name="profileNew" type="text" />
    <br /><br />
    <button type="submit">Submit</button>
</form>

@{DisplayStatus();}

@section Scripts
{
    <script>
        function submitForm() {
            var txtUserProfile = document.getElementById("Profile");
            txtUserProfile.value = txtUserProfile.value.trim();
            if (txtUserProfile.value == "") {
                var errorMsg = document.createElement("div");
                errorMsg.innerHTML = "Profile cannot be empty";
                txtUserProfile.after(errorMsg);

                txtUserProfile.focus();
                return false;
            }
            return true;
        }
    </script>
}
