﻿@using AimingForHD.Entities;

@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "View All Users";

    List<User> profileList = (List<User>)ViewData["UserList"];

    void DisplayUsers()
    {
        <h1 id="title">Display users</h1>

        if (profileList.Count == 0)
        {
            <div>No user profile to Display.</div>
        }
        else
        {
            <table>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Profile</th>
                    <th></th>
                </tr>

                @foreach (User user in profileList)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email </td>
                        <td>@user.Profile.Profile</td>
                        <td>
                            <form action="/UpdateUser" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="username" value="@user.Username" />
                                <button type="submit">Update</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }

    }
}

@{DisplayUsers();}