﻿@using AimingForHD.Entities

@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "View All User Profiles";

    List<UserProfile> profileList = (List<UserProfile>)ViewData["UserProfileList"];

    void DisplayUserProfiles()
    {
        <h1 id="title">Display user profiles</h1>
        if (profileList.Count == 0)
        {
            <div>No user profile to display.</div>
        }
        else
        {
            <table>
                <tr>
                    <th>Profile</th>
                    <th></th>
                </tr>

            @foreach (UserProfile profile in profileList)
            {
                <tr>
                    <td>@profile.Profile</td>
                    <td>
                        <form action="/UpdateProfile" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="profileOld" value="@profile.Profile" />
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
            }
                
            </table>
        }

    }
}

<div>@{DisplayUserProfiles();}</div>
