﻿@using AimingForHD.Entities;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor context
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add Prescription";

    string doctorUsername = context.HttpContext.Session.GetString("CurrentUser");

    void DisplayPrescriptionForm()
    {
        <h1 id="title">Add new prescription</h1>
        <form action="AddNewPrescription" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="doctor" value="@doctorUsername" />
            <label style="margin-right: 8px;">Patient username: </label>
            <input type="text" name="patient" value="@ViewData["Patient"]" />
            <button type="submit">Save and send token</button>
        </form>

        <br />
    }

    void DisplayMedicineForm()
    {
        int currentPrescId=-1;
        if (ViewData["Prescription"] != null)
            currentPrescId = ((Prescription)ViewData["Prescription"]).PrescriptionId;
        else if (ViewData["Medicine"] != null)
            currentPrescId = ((Medicine)ViewData["Medicine"]).PrescriptionId;

        <h1 id="title">Add medicine to prescription</h1>
        <form action="AddNewMedicine" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="prescriptionId" value="@currentPrescId" />
            <label>Medicine name: </label>
            <input type="text" name="name" style="margin-right: 10px;" required />
            <label>Amount: </label>
            <input name="amount" type="number" min="1" step="1" />
            <button type="submit">Add</button>
        </form>
        <br/>
        <button type="button" onclick="location.href='/Home';">Finish</button>
    }

    void DisplayStatus()
    {
        <div>@ViewData["Status"]</div>
    }

}

<br />

@if (ViewData["Prescription"] == null && ViewData["Medicine"]==null)
{
    DisplayPrescriptionForm();
}
else
{
    DisplayMedicineForm();
}

@if (ViewData["Status"] != null)
{ DisplayStatus(); }