﻿@using AimingForHD.Entities;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor context
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update Prescription";

    Medicine medicine = ViewData["Medicine"] == null ? new Medicine() : (Medicine)ViewData["Medicine"];

    void DisplayForm()
    {
        <h1 id="title">Update prescription medicine</h1>
        <form action="UpdateMedicine" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="medicineId" value="@medicine.MedicineId" />
            <label>Medicine name: </label>
            <input type="text" name="name" value="@medicine.Name" style="margin-right: 10px;" required />
            <label>Amount: </label>
            <input name="amount" type="number" min="0" step="1" value="@medicine.Amount" />
            <button type="submit">Update</button>
        </form>

        @if (ViewData["Status"] != null)
        {
            <div>@ViewData["Status"]</div>
        }
    }
}

<br />

@{
    DisplayForm();
}
