﻿@using AimingForHD.Entities;
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "View Prescriptions";

    List<Prescription> prescriptions = (List<Prescription>)ViewData["PrescriptionList"] ?? new List<Prescription>();
    
    void DisplayPrescriptions()
    {
        if (!prescriptions.Any())
        {
            <div>No prescriptions to display.</div>
        }
        else
        {
            foreach (Prescription p in prescriptions)
            {
                <div class="container table">
                    <div class="row table-head">
                        <div class="col">Prescription ID: @p.PrescriptionId</div>
                        <div class="col">Doctor: @p.Doctor.Username</div>
                        <div class="col">Patient: @p.Patient.Username</div>
                    </div>
                    
                @if (p.MedicineList != null && p.MedicineList.Any())
                {
                    <div class="row">
                        <div class="col col-md-2 table-head">Medicine ID</div>
                        <div class="col col-md-6 table-head">Name</div>
                        <div class="col col-md-2 table-head">Amount</div>
                        <div class="col col-md-2 table-head"></div>
                    </div>
                @foreach (Medicine m in p.MedicineList)
                {
                    <div class="row align-items-center">
                        <div class="col col-md-2">@m.MedicineId</div>
                        <div class="col col-md-6">@m.Name</div>
                        <div class="col col-md-2">@m.Amount</div>
                        <div class="col col-md-2">
                            <form action="UpdatePrescription" method="get">
                                <input type="hidden" name="medicineId" value="@m.MedicineId" />
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                }
                }
                </div>
                <br />
            }
            
        }
    }
}

<h1 id="title">View prescriptions</h1>
@{DisplayPrescriptions();}
