﻿@using AimingForHD.Entities;
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Prescription Token";

    Prescription p = (Prescription)ViewData["Prescription"] ?? new Prescription();

    void DisplayPrescription()
    {
        <div class="container table">
            <div class="row table-head">
                <div class="col">Prescription ID: @p.PrescriptionId</div>
                <div class="col">Doctor: @p.Doctor.Username</div>
                <div class="col">Patient: @p.Patient.Username</div>
            </div>

            @if (p.MedicineList != null && p.MedicineList.Any())
            {
                <div class="row">
                    <div class="col col-md-2 table-head">Medicine ID</div>
                    <div class="col col-md-6 table-head">Name</div>
                    <div class="col col-md-2 table-head">Amount</div>
                    <div class="col col-md-2 table-head"></div>
                </div>
                @foreach (Medicine m in p.MedicineList)
                {
                    <div class="row align-items-center">
                        <div class="col col-md-2">@m.MedicineId</div>
                        <div class="col col-md-6">@m.Name</div>
                        <div class="col col-md-2">@m.Amount</div>
                        <div class="col col-md-2">
                            <form action="PharmacistUpdatePrescription" method="get">
                                <input type="hidden" name="medicineId" value="@m.MedicineId" />
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
        <br />
     
    }

    void DisplayNotFound()
    {
        <div>Prescription not found.</div>
    }
}

<h1 id="title">Prescription Token</h1>
<form action="KeyInToken" method="get">
    <input type="number" name="prescriptionId" value="@(ViewData["token"])" />
    <button type="submit">Search</button>
</form>

<br />

@if (ViewData["Prescription"] != null)
{
    DisplayPrescription();
}
else if (ViewData["token"] != null)
{
    DisplayNotFound();
}