﻿@using AimingForHD.Entities;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor context
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update Prescription";

    Medicine medicine = ViewData["Medicine"] == null ? new Medicine() : (Medicine)ViewData["Medicine"];

    void DisplayForm()
    {
        <h1 id="title">Update prescription medicine</h1>
        <form action="PharmacistUpdateMedicine" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="medicineId" value="@medicine.MedicineId" />
            <span>Medicine name: @medicine.Name</span><br />
            <span>Current amount: @medicine.Amount</span><br />
            <label>Dispense: </label>
            <input name="amount" type="number" min="0" max="@medicine.Amount" step="1" value="0"/>
            <button type="submit">Update</button>
        </form>
    }
}

<br />

@{
    DisplayForm();
}