﻿@using AimingForHD.Entities;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor context
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Search Prescriptions";

    string CurrentUserID = context.HttpContext.Session.GetString("CurrentUserID");

    List<Prescription> prescriptions = (List<Prescription>)ViewData["PrescriptionList"] ?? new List<Prescription>();

    void DisplayPrescriptions()
    {
        foreach (Prescription p in prescriptions)
        {
            <div class="container table">
                <div class="row table-head">
                    <div class="col">Prescription ID: @p.PrescriptionId</div>
                    <div class="col">Doctor: @p.Doctor.Username</div>
                    <div class="col">Patient: @p.Patient.Username</div>
                </div>

                @if (p.MedicineList != null && p.MedicineList.Any())
                {
                    <div class="row">
                        <div class="col col-md-2 table-head">Medicine ID</div>
                        <div class="col col-md-8 table-head">Name</div>
                        <div class="col col-md-2 table-head">Amount</div>
                    </div>
                    @foreach (Medicine m in p.MedicineList)
                    {
                        <div class="row align-items-center">
                            <div class="col col-md-2">@m.MedicineId</div>
                            <div class="col col-md-8">@m.Name</div>
                            <div class="col col-md-2">@m.Amount</div>
                        </div>
                    }
                }
            </div>
            <br />
        }

    }

    void DisplayErrorNotFound()
    {
        if (ViewData["keyword"] != null)
        {
            <div>No prescription found.</div>
        }
    }
}

<h1 id="title">Search my prescriptions</h1>
<form action="PatientSearchPrescription" method="get">
    <input type="hidden" name="myId" value="@CurrentUserID" />
    <input type="text" name="keyword" value="@(ViewData["keyword"])" />
    <button type="submit">Search</button>
</form>

@{DisplayPrescriptions();}

@if (ViewData["PrescriptionList"] == null)
{
    DisplayErrorNotFound();
}
