﻿button {
    font-size: 1.5em;
    padding: 0.5em 1em;
}

#LogoutForm button {
    color: white;
    background-color: maroon;
    border: 1px solid maroon;
    width: 40vw;
}

#LogoutForm button:hover {
    color: white;
    background-color: crimson;
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}

.row:nth-child(2n+1) {
    background-color: none;
}

.col{
    margin: 0.25em;
}