﻿body{
    font-family: Calibri, 'Arial', sans-serif;
    text-align: center;
}

h1, h2{
    color: midnightblue;
}

a {
    text-decoration: none;
}

#header {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    padding: 0.2em;
}

#header>a{
    color: midnightblue;
    text-decoration: none;
}

#header>a:hover {
    color: royalblue;
    text-decoration: none;
}

#Logo {
    margin: auto;
    width: auto;
    max-height: 25vh;
    display: block;
}

button {
    color: midnightblue;
    font-weight: 600;
    border: none;
    background-color: #dce2f5;
    border: 1px solid midnightblue;
    border-radius: 3px;
    padding: 0 1em;
}

button:hover {
    color: white;
    background-color: midnightblue;    
}

button:active {
    background-color: royalblue;
}

table, .table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c0e0fa;
}

th, .table-head {
    color: midnightblue;
    background-color: #c0e0fa;
    text-align: center;
    font-weight: 600;
    padding: 0.5em;
    border-bottom: 3px double white;
}

tr:nth-child(2n):not(.table-head), .table > .row:nth-child(2n):not(.table-head) {
    background-color: aliceblue;
}

td{
    padding: 0.5em;
}

.message{
    margin: 3em auto;
}
