﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @*If you want the css/js to be applied to all pages using this layout, just place it here*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />

    @*
        In the cshtml page, put your page-specific css and js files inside a @section Head { ...your code here... }
        This will ensure your scripts are placed in the <head> when the page is rendered
    *@

    @RenderSection("Head", required: false)

    <title>@ViewData["Title"]</title>
</head>
<body>

    <div id="header">
        <a href="~/home">Online Prescription System</a>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @*
        In the cshtml page, put your .js scripts inside a @section Scripts { ...your code here... }
        This will ensure your scripts are placed in the bottom of the rendered html page
    *@

    @RenderSection("Scripts", required: false)

    <br/><br/>
</body>
</html>
