﻿@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor context
@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";

    string CurrentUserID = context.HttpContext.Session.GetString("CurrentUserID");
    string CurrentUser = context.HttpContext.Session.GetString("CurrentUser");
    string CurrentProfile = context.HttpContext.Session.GetString("CurrentProfile");

    void DisplayMenu()
    {
        @*Admin*@
        @if (CurrentProfile == "1")
        {
            <div class="row">
                <button id="addUserBtn" onclick="location.href = '/AddNewUser';" class="col">Add new user</button>
                <button id="addUserProfileBtn" onclick="location.href ='/AddNewProfile';" class="col">Add new user profile</button>
            </div>
            <div class="row">
                <button id="viewUsersBtn" onclick="location.href = '/ViewUsers';" class="col">View all users</button>
                <button id="viewUserProfilesBtn" onclick="location.href = '/ViewUserProfiles';" class="col">View all user profiles</button>
            </div>
            <div class="row">
                <button id="searchUsersBtn" onclick="location.href = '/SearchUsers';" class="col">Search users</button>
                <button id="searchUserProfilesBtn" onclick="location.href = '/SearchUserProfiles';" class="col">Search user profiles</button>
            </div>
            <br />
            <br />

        }

        @*Doctor*@
        @if (CurrentProfile == "2")
        {
            <div class="row justify-content-center">
                <button id="addPrescBtn" onclick="location.href = '/AddNewPrescription';" class="col col-md-6">Add prescription</button>
                <button id="viewPrescBtn" onclick="location.href = '/ViewPrescriptions';" class="col col-md-6">View prescriptions</button>
                <button id="searchPrescBtn" onclick="location.href='/SearchPrescription';" class="col col-md-6">Search prescriptions</button>
            </div>
            <br />
            <br />

        }

        @*Patient*@
        @if (CurrentProfile == "3")
        {
            <div class="row justify-content-center">
                <form action="/ViewPatientPrescriptions" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="patientId" value="@CurrentUserID" />
                    <button id="viewPrescBtn" type="submit" class="col col-md-6">View prescriptions</button>
                    <button id="searchPrescBtn" type="button" onclick="location.href='/PatientSearchPrescription';" class="col col-md-6">
                        Search prescriptions
                    </button>
                </form>
                <form action="/EditPatient" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@CurrentUser" />
                    <button id="editPatientBtn" type="submit" class="col col-md-6">Edit personal info</button>
                </form>
            </div>
            <br />
            <br />

        }

        @*Pharmacist*@
        @if (CurrentProfile == "4")
        {
            <div class="row justify-content-center">
                <button id="addPrescBtn" onclick="location.href = '/KeyInToken';" class="col col-md-6">Search by token</button>
                <button id="viewPrescBtn" onclick="location.href = '/PharmacistViewPrescriptions';" class="col col-md-6">View prescriptions</button>
                <button id="searchPrescBtn" onclick="location.href='/PharmacistSearchPrescription';" class="col col-md-6">Search prescriptions</button>
            </div>
            <br />
            <br />

        }
    }
}

@section Head
{
    <link rel="stylesheet" href="~/css/home.css" />
}

<img id="Logo" src="https://uowplaybook.s3-ap-southeast-2.amazonaws.com/logo/logo-secondary.png">

@{ DisplayMenu(); }

<div class="row">
    <form id="LogoutForm" method="post" action="~/Logout">
        @Html.AntiForgeryToken()
        <button id="logoutBtn" type="submit" class="col">Logout</button>
    </form>
</div>