﻿@{
    Layout = "~/Boundaries/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

@functions
{
    public void DisplayStatus()
    {
        if (ViewData["LoginSuccess"] != null && (bool)ViewData["LoginSuccess"] == false)
        {
            <div>Incorrect username and/or password.</div>
        }
    }
}

<img id="Logo" src="https://uowplaybook.s3-ap-southeast-2.amazonaws.com/logo/logo-secondary.png">
<h1 style="text-align:center;">LOGIN</h1>
<form id="LoginForm" action="~/Login/Validate" method="post">
    @Html.AntiForgeryToken()
    <label for="Username">Username</label>
    <input type="text" name="username" id="Username" required />
    <br /><br />
    <label for="Password">Password</label>
    <input type="password" name="password" id="Password" required />
    <br /><br />
    <button type="submit">Login</button>
    @{DisplayStatus();}
</form>
